a {
  color: #eee;
  text-decoration: none;
}
a:hover {
  color: blue;
}
html {
  height: 100%;
}
body {
  overflow: auto;
  background-color: white;
  background-image: url('https://cdn.loom.com/assets/marketing/new-recording/loom-background-gradient-1-1200w.jpg');
  background-size: cover;
  margin: 0;
}
